/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links-nav > li,
.masthead-nav > li {
    display: inline-block;
}

.social-links-nav > li + li,
.masthead-nav > li + li {
    margin-left: 20px;
}

.social-links-nav > li > a,
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a {
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.social-links-nav > li > a:hover,
.social-links-nav > li > a:focus,
.social-links-nav > .active > a,
.social-links-nav > .active > a:hover,
.social-links-nav > .active > a:focus {
    background: transparent;
    color: #fff;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }

    .social-links-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

.mastfoot {
    position: fixed;
    bottom: 0;
}

.mastfoot {
    width: 100%;
}

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

.cursive {
    font-family: 'Grand Hotel', cursive;
}

.cover-heading.cursive {
    font-size: 82px;
}

@media (max-width: 427px) {
    .cover-heading.cursive {
        font-size: 48px;
    }
}

.site-wrapper {
    background-image: url('../images/space.jpg');
    background-position: center center;
    background-size: cover;
}

.cover-black {
    background-color: rgba(0, 0, 0, .6);
}

.cover-blue {
    background-color: rgba(5, 31, 60, 0.6);
}

.cover-green {
    background-color: rgba(3, 28, 7, 0.6);
}

.cover-orange {
    background-color: rgba(37, 28, 5, 0.6);
}

.cover-red {
    background-color: rgba(35, 3, 2, 0.66);
}
